body{
	overflow-x: hidden;
}

img{
	width: 100%;
	border-radius: 1em;
}

.active a:after{
	content: "";
	position: relative;
	border: 1px solid black;
	width: 40px;
	height: 1px;
	display: block;
}

#cover{
	height: 98vh;
	background: rgb(68, 47, 23);
	isolation: isolate;
}

#cover::after{
	content: "";
	position: absolute;
	z-index: -1;
	inset: 0;
	opacity: 0.5;
	background-image: url("../images/R (2).jpg");
	background-size: cover;
	height: 85vh;
	transform: translateY(15%);
	transition: 500ms;
}

@media (max-width: 700px){
	#cover{
		background-image: url("../images/R (2).jpg");
	}

	#cover::after{
		opacity: 0;
	}
}

#about-us-images{
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 1em;
}

#about-us-images img{
	width: 100%;
}

#menu-image{
	/*height: 400px;*/
}

#menu-image img{
	max-width: 100%;
}

#spice-images{
	/*height: 50px;*/
}