body{
	overflow-x: hidden;
}

img{
	width: 100%;
	border-radius: 1em;
	transition: 1s;
}

.active a:after{
	content: "";
	position: relative;
	border: 1px solid black;
	width: 40px;
	height: 1px;
	display: block;
}

#cover,#cover-back,#cover-text{
	height: 100vh;
	width: 100%;
	top: 0;
}
#cover-text,#cover-back{
	position: absolute;
}

#cover{
	background-image: url("../images/R (2).jpg");
	background-size: cover;
	opacity: 0.6;
}

#cover-text{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#cover-back{
	background: rgb(68,47,23);
}

#about-us-images{
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 1em;
}

#about-us-images img{
	width: 100%;
}

#menu-image{
	/*height: 400px;*/
}

#menu-image img{
	max-width: 100%;
}

#spice-images{
	/*height: 50px;*/
}

.hidden{
	transform: translateY(-50px);
	opacity: 0;
}